pandas
numpy
geopy
meteostat
osmnx
networkx
feedparser
streamlit
streamlit-chat
openpyxl
langchain
langgraph
langchain-openai
langchain-community
faiss-cpu
ollama
langgraph
scikit-learn
python-dotenv
langchain-ollama